body {
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(1px);
    background-image: url('images/istockphoto-1740572371-612x612.jpg');
    background-repeat: repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.logo{
    cursor: default;
    display: flex;
    grid-template-columns: auto auto;
}
  
.logo img {
    height: 100px; 
}

.facts{ 
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 50px;
  align-items: center;
}

button {
  padding: 10px;
  background-color:  #555 ;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#615f5f;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

h1{
    align-items: center;
}

nav{
    margin-top: 0;
    justify-content: flex-end;
    margin-right: 0;  
    padding-bottom: 5px;
    color: #fff;
    text-align: right;
    list-style-type: none;
  }
  
  nav a{
    padding-right: 20px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all.5s;
  }
  
  a:hover{
    background-color: #996600;
    color: #fff;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border: 3px solid #ff9933;
    opacity: 0;
    transition: all 0.3s;
  }
  
  nav a:before {
    bottom: 12px;
    left: 12px;
    border-width: 0 0 3px 3px;
  }
  
  nav a:after {
    top: 12px;
    right: 12px;
    border-width: 3px 3px 0 0;
  }
  
  a:hover::before{
    opacity: 1;
    bottom: -8px;
    left: -8px;
  }
  
  a:hover::after {
    opacity: 1;
    top: -8px;
    right: -8px;
  } 

  header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)); 
    padding: 15px;
    color: #fff;
  }

  .mainLine{
    flex-grow: 1;
    font-size: 20px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mainLine h2{
    margin: 20px;
    padding: 20px;
    font-size: 80px;
    cursor: default;
  }

  h2{
    cursor: default;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 80px;
  }

  h2 a{
    align-content: center;
  }

  

  .antSpecies{
    cursor: default;
    padding-top: 5%;
    padding-left: 30%;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border: none;
  }
  
  .container{
    position: relative;
    display: inline-block;
    width: 155px;
    height: 155px;
    margin: 14px;
    padding-left: 68px;
    padding-right: 15px;
    border-radius: 20px;
    overflow: hidden;
  } 
  
  .container img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container:hover img{
    filter: blur(5px);
  }
  
  .container .caption{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: #f1f1f1;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
  }
  
  .container:hover .caption{
    visibility: visible;
  }

  .pageThree {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); 
    z-index: 1;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
    align-items: center;
    justify-content: center;
  }

  h5{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15pX;
  }

  h6{
    font-size: 30px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 10px;
  }

  .ant-details{
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .ant-container {
    clear: both; 
    margin-bottom: 20px; 
    width: 100%;
  } 

.learn-more-button {
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  margin-left: 44%;
  background-color: #1aff1a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #fff;
  color: #1aff1a;
}

.contact-left h1{
  margin-left: 40%;
  font-size: 50px;
}

.contact-left p{
  margin-left: 50px;
}

.contact-right{
  flex-basis: 60%;
  margin-left: 100px;
  margin-right: 200px;
}

.contact-left p{
  margin-top: 30px;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  cursor: default;
}

.contact-left p i{
  color: #ff004f; 
  margin-right: 15px; 
  font-size: 25px;
}

.social-icons{ 
margin-top: 30рx;
}

.social-icons a{
  text-decoration: none; 
  font-size: 38px; 
  margin-right: 15px;
  color: #ff004f;
  display: inline-block;
  transition: transform 6,55;
}

.social-icons a:hover{
  color: #ff9933;
  transform: translater(-5px);
}

.btn{
  display: block; 
  margin: 50px auto; 
  width: fit-content;
 padding: 14px 50px;
 border-radius: 6px; 
 text-decoration: none;
 color:#fff;
}

.btn.btn2{
  display: inline-block; 
  background-color: #04a804 ;
}

.contact-right form {
  width: 100%;
 cursor: default;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none; 
  background: #262626;
  padding: 15px; 
  margin: 15px 0; 
  color: #fff; 
  font-size: 18px; 
  border-radius: 6px;
} 
form .btn2{
  padding: 14px 60px;
  font-size: 18px; 
  margin-top: 20px; 
  cursor: pointer;
}

h8{
 padding-left: 45%;
 font-size: 40px;
 font-weight: bold;
 color: #ff0000;
}

h9{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 100px;
  color: #00FFFF;
  background-color: rgba(41, 37, 37, 0.5);
  font-weight: bold;
  border-radius: 5px;
}

.dtails{
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
}

.slideshow-container{
  margin-left: 430px;
  margin-right: 70px;
  width: 500px;
  height: 500px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;
  justify-content: space-evenly; 
  padding: 0 2%;
  margin-bottom: 100px;
}

.item {
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.AboutMe-container {
  background:  rgba(0, 0, 0, 0.4); 
  border-radius: 15px;
  width: 100%;
  line-height: 1.6;
  margin: auto;
  overflow: auto;
}

.AboutMe-container h1{
  margin-left: 20px;
}

.AboutMe-container p{
  margin-left: 50px;
  font-size: 20px;
}

.img-row {
  display: inline-block;
  justify-content: space-evenly; 
  padding: 0 2%;
  margin-bottom: 100px;
}

.img-row img {
  margin-left: 20px;
  width: 30%;
  height: auto;
}

.acc{
  font-size: 40px;
  margin-left: 55px;
}

@media only screen and (max-width: 767px) {
  body {
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(1px);
    background-image: url('images/istockphoto-1740572371-612x612.jpg');
    background-repeat: repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.logo{
    cursor: default;
    display: flex;
    grid-template-columns: auto auto;
}
  
.logo img {
    height: 50px; 
}

.facts{ 
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 50px;
  align-items: center;
}

button {
  padding: 10px;
  background-color:  #555 ;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#615f5f;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

h1{
    align-items: center;
    font-size: 25px;
}

nav{
    margin-top: 0;
    justify-content: flex-end;
    margin-right: 0;  
    padding-bottom: 5px;
    color: #fff;
    text-align: right;
    list-style-type: none;
  }
  
  nav a{
    padding-right: 20px;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all.5s;
  }
  
  a:hover{
    background-color: #996600;
    color: #fff;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border: 3px solid #ff9933;
    opacity: 0;
    transition: all 0.3s;
  }
  
  nav a:before {
    bottom: 12px;
    left: 12px;
    border-width: 0 0 3px 3px;
  }
  
  nav a:after {
    top: 12px;
    right: 12px;
    border-width: 3px 3px 0 0;
  }
  
  a:hover::before{
    opacity: 1;
    bottom: -8px;
    left: -8px;
  }
  
  a:hover::after {
    opacity: 1;
    top: -8px;
    right: -8px;
  } 

  header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)); 
    padding: 15px;
    color: #fff;
  }

  .mainLine{
    flex-grow: 1;
    font-size: 20px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mainLine h2{
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    cursor: default;
    height: 30vh;
  }

  h2{
    cursor: default;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 80px;
  }

  h2 a{
    align-content: center;
  }

  

  .antSpecies{
    cursor: default;
    padding-top: 5%;
    padding-left: 15%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
  }
  
  .container{
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 14px;
    padding-left: 68px;
    padding-right: 15px;
    border-radius: 20px;
    overflow: hidden;
  } 
  
  .container img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container:hover img{
    filter: blur(5px);
  }
  
  .container .caption{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: #f1f1f1;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
  }
  
  .container:hover .caption{
    visibility: visible;
  }

  .pageThree {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); 
    z-index: 1;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
    align-items: center;
    justify-content: center;
  }

  h5{
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15pX;
  }

  h6{
    font-size: 20px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 10px;
  }

  .ant-details{
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .ant-container {
    clear: both; 
    margin-bottom: 20px; 
    width: 100%;
  } 

.learn-more-button {
  font-size: 15px;
  height: 30vh;
  padding: 5px 10px 5px 10px;
  margin-left: 44%;
  background-color: #1aff1a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #fff;
  color: #1aff1a;
}

.contact-left h1{
  margin-left: 40%;
  font-size: 30px;
}

.contact-left p{
  margin-left: 50px;
}

.contact-right{
  flex-basis: 60%;
  margin-left: 100px;
  margin-right: 200px;
}

.contact-left p{
  margin-top: 30px;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  cursor: default;
}

.contact-left p i{
  color: #ff004f; 
  margin-right: 15px; 
  font-size: 25px;
}

.social-icons{ 
margin-top: 30рx;
}

.social-icons a{
  text-decoration: none; 
  font-size: 38px; 
  margin-right: 15px;
  color: #ff004f;
  display: inline-block;
  transition: transform 6,55;
}

.social-icons a:hover{
  color: #ff9933;
  transform: translater(-5px);
}

.btn{
  display: block; 
  margin: 50px auto; 
  width: fit-content;
border: 1px solid #ff004f;
padding: 14px 50px;
 border-radius: 6px; 
 text-decoration: none;
 color:#fff;
}

.btn.btn2{
  display: inline-block; 
  background: Duffeaf;
}

.contact-right form {
  width: 100%;
 cursor: default;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none; 
  background: #262626;
  padding: 15px; 
  margin: 15px 0; 
  color: #fff; 
  font-size: 18px; 
  border-radius: 6px;
} 
form .btn2{
  padding: 14px 60px;
  font-size: 18px; 
  margin-top: 20px; 
  cursor: pointer;
}

h8{
 padding-left: 45%;
 font-size: 40px;
 font-weight: bold;
 color: #ff0000;
}

h9{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 100px;
  color: #00FFFF;
  background-color: rgba(41, 37, 37, 0.5);
  font-weight: bold;
  border-radius: 5px;
}

.dtails{
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
}

.slideshow-container{
  margin-left: 430px;
  margin-right: 70px;
  width: 500px;
  height: 500px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;
  justify-content: space-evenly; 
  padding: 0 2%;
  margin-bottom: 100px;
}

.item {
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.AboutMe-container {
  background:  rgba(0, 0, 0, 0.4); 
  border-radius: 15px;
  width: 100%;
  line-height: 1.6;
  margin: auto;
  overflow: auto;
}

.AboutMe-container h1{
  margin-left: 20px;
}

.AboutMe-container p{
  margin-left: 50px;
  font-size: 15px;
}

.img-row {
  display: inline-block;
  justify-content: space-evenly; 
  padding: 0 2%;
  margin-bottom: 100px;
}

.img-row img {
  margin-left: 10px;
  width: 30%;
  height: auto;
}

.acc{
  font-size: 25px;
  margin-left: 55px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(1px);
    background-image: url('images/istockphoto-1740572371-612x612.jpg');
    background-repeat: repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.logo{
    cursor: default;
    display: flex;
    grid-template-columns: auto auto;
}
  
.logo img {
    height: 60px; 
}

.facts{ 
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 50px;
  align-items: center;
}

button {
  padding: 10px;
  background-color:  #555 ;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#615f5f;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95);
}

h1{
    align-items: center;
    font-size: 25px;
}

nav{
    margin-top: 0;
    justify-content: flex-end;
    margin-right: 0;  
    padding-bottom: 5px;
    color: #fff;
    text-align: right;
    list-style-type: none;
  }
  
  nav a{
    padding-right: 20px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all.5s;
  }
  
  a:hover{
    background-color: #996600;
    color: #fff;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border: 3px solid #ff9933;
    opacity: 0;
    transition: all 0.3s;
  }
  
  nav a:before {
    bottom: 12px;
    left: 12px;
    border-width: 0 0 3px 3px;
  }
  
  nav a:after {
    top: 12px;
    right: 12px;
    border-width: 3px 3px 0 0;
  }
  
  a:hover::before{
    opacity: 1;
    bottom: -8px;
    left: -8px;
  }
  
  a:hover::after {
    opacity: 1;
    top: -8px;
    right: -8px;
  } 

  header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)); 
    padding: 15px;
    color: #fff;
  }

  .mainLine{
    flex-grow: 1;
    font-size: 20px;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mainLine h2{
    margin: 20px;
    padding: 20px;
    font-size: 80px;
    cursor: default;
  }

  h2{
    cursor: default;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 80px;
  }

  h2 a{
    align-content: center;
  }

  

  .antSpecies{
    cursor: default;
    padding-top: 5%;
    padding-left: 20%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
  }
  
  .container{
    position: relative;
    display: inline-block;
    width: 155px;
    height: 155px;
    margin: 20px;
    padding-left: 68px;
    padding-right: 15px;
    border-radius: 20px;
    overflow: hidden;
  } 
  
  .container img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container:hover img{
    filter: blur(5px);
  }
  
  .container .caption{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: #f1f1f1;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
  }
  
  .container:hover .caption{
    visibility: visible;
  }

  .pageThree {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); 
    z-index: 1;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
    align-items: center;
    justify-content: center;
  }

  h5{
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15pX;
  }

  h6{
    font-size: 30px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 10px;
  }

  .ant-details{
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .ant-container {
    clear: both; 
    margin-bottom: 20px; 
    width: 100%;
  } 

.learn-more-button {
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  margin-left: 44%;
  background-color: #1aff1a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #fff;
  color: #1aff1a;
}

.contact-left h1{
  margin-left: 40%;
  font-size: 50px;
}

.contact-left p{
  margin-left: 50px;
}

.contact-right{
  flex-basis: 60%;
  margin-left: 100px;
  margin-right: 200px;
}

.contact-left p{
  margin-top: 30px;
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
  cursor: default;
}

.contact-left p i{
  color: #ff004f; 
  margin-right: 15px; 
  font-size: 25px;
}

.social-icons{ 
margin-top: 30рx;
}

.social-icons a{
  text-decoration: none; 
  font-size: 38px; 
  margin-right: 15px;
  color: #ff004f;
  display: inline-block;
  transition: transform 6,55;
}

.social-icons a:hover{
  color: #ff9933;
  transform: translater(-5px);
}

.btn{
  display: block; 
  margin: 50px auto; 
  width: fit-content;
 padding: 14px 50px;
 border-radius: 6px; 
 text-decoration: none;
 color:#fff;
}

.btn.btn2{
  display: inline-block; 
  background-color: #04a804 ;
}

.contact-right form {
  width: 100%;
 cursor: default;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none; 
  background: #262626;
  padding: 15px; 
  margin: 15px 0; 
  color: #fff; 
  font-size: 18px; 
  border-radius: 6px;
} 
form .btn2{
  padding: 14px 60px;
  font-size: 18px; 
  margin-top: 20px; 
  cursor: pointer;
}

h8{
 padding-left: 45%;
 font-size: 40px;
 font-weight: bold;
 color: #ff0000;
}

h9{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 100px;
  color: #00FFFF;
  background-color: rgba(41, 37, 37, 0.5);
  font-weight: bold;
  border-radius: 5px;
}

.dtails{
  font-size: 25px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bold;
}

.slideshow-container{
  margin-left: 430px;
  margin-right: 70px;
  width: 500px;
  height: 500px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;
  justify-content: space-evenly; 
  padding: 0 2%;
  margin-bottom: 100px;
}

.item {
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

.AboutMe-container {
  background:  rgba(0, 0, 0, 0.4); 
  border-radius: 15px;
  width: 100%;
  line-height: 1.6;
  margin: auto;
  overflow: auto;
}

.AboutMe-container h1{
  margin-left: 20px;
}

.AboutMe-container p{
  margin-left: 50px;
  font-size: 20px;
}

.img-row {
  display: inline-block;
  justify-content: space-evenly; 
  padding: 0 2%;
  margin-bottom: 100px;
}

.img-row img {
  margin-left: 20px;
  width: 30%;
  height: auto;
}

.acc{
  font-size: 40px;
  margin-left: 55px;
}
}